@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
	ViewData["Title"] = "About";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="~/css/about.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>   

       <section class="about-container">
        <section class="inner-container">
            <h1>"Cinema Plus"</h1>
            <section class="inner-text">
                <p>The chain of cinemas “CinemaPlus” includes 9 cinemas, 50+ screens and 5000+ seats.<br><br>

                    "CinemaPlus" is a chain of cinemas that has a digital projection system with a high degree and the ability to display 3D content. As well as the superb movie screens, Enhanced 4KBarco high definition and image clarity technologies make it possible to display movies in the best and fullest quality.
                    <br><br>
                    The concept of "Platinum Movie Suites", used in the chain of cinemas "CinemaPlus", offers the opportunity to watch movies in a hall with luxurious leather Italian and Spanish armchairs with increased comfort and a reclining back, one can order the food and drinks right during the movie show.
                    <br><br>
                    Unique Skybox halls are available only in the “CinemaPlus”. Glazed 6 Skybox mini-halls occupy the upper tiers of the auditorium, with 6 to 12 seats. Spectators have the opportunity to watch movies on comfortable leather chairs equipped with additional equipment and chargers for gadgets. There is separate entrance to each Skybox hall using an elevator.
                    <br><br>
                    There are two VIP DIAMOND halls in the cinema for the special guests, equipped with large comfortable automatic folding chairs with built-in tables and a footstool. All chairs are located at some distance from each other, which creates an atmosphere of privacy and comfort. In the last rows, comfortable sofas reminiscent of a home environment are installed.
                    <br><br>
                    In addition, thechain of cinemas "CinemaPlus" has applied the world system Dolby Atmos which is an innovative in Azerbaijan. With the ability to place and move sound anywhere in the cinema, Dolby Atmos technology allows filmmakers to take movie sound to a whole new level. As a result, the viewer does not just watch what is happening on the screen, but moves to the center of events.
                    <br><br>
                    Also, the 4DX format in our country is available only in the “CinemaPlus” cinemas. Innovative 4DX cinema technology enhances the visual effects of action-packed blockbusters and horror films with additional special effects such as motion, chair rotation and jolts, water spray and wind, lightning and snow, soap bubbles and fragrance. As a result, 4DX is one of the most immersive formats in the film industry, drawing viewers into the action on the big screen.</p>
            </section>

            <section class="theatre-container">
                <div class="theatre-box">28 May</div>
                <div class="theatre-box">Ganjlik Mall</div>
                <div class="theatre-box">Deniz Mall</div>
                <div class="theatre-box">Azerbaijan Cinema</div>
                <div class="theatre-box">Amburan Mall</div>
                <div class="theatre-box">Khamsa Park (Ganja)</div>
                <div class="theatre-box">Ganja Mall (Ganja)</div>
                <div class="theatre-box">Nakchivan</div>
                <div class="theatre-box">Shamakhy</div>
            </section>
        </section>
       </section>

</body>
</html>