@{
	ViewData["Title"] = "Services";
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="~/css/services.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
        <section class="services-container">
          <section class="inner-container">
            <h1 style="color: white;">Services</h1>
            <section class="inner-container-sec">
              <section class="desc-box">
                <img src="~/assets/images/sicon1.png" />
                <h3 class="desc-title">Holidays and Birthdays</h3>
                <p class="desc-text">
                  Are you upon the look for an ideal place for a private party
                  of corporate event? CinemaPlus will help you to organize full
                  range of top level events. CinemaPlus offers you wide range of
                  services for organization of any event, whether it be an
                  unforgettable birthday party which you’ll remember a very long
                  time or holding presentations, conferences or forums in one of
                  our halls.
                </p>
              </section>

              <section class="desc-box">
                <img src="~/assets/images/sicon2.png" />
                <h3 class="desc-title">Private Screening</h3>
                <p class="desc-text">
                  In the network of cinemas "CinemaPlus" there is a service
                  "Closed screening". This service can be used by both ordinary
                  viewers and corporate clients.
                </p>
              </section>
            </section>
            <section class="inner-container-sec">
              <section class="desc-box">
                <img src="~/assets/images/sicon3.png" />
                <h3 class="desc-title">Platinum Movie Suites</h3>
                <p class="desc-text">
                  The concept of "Platinum Movie Suites", used in the network of
                  cinemas "CinemaPlus", offers viewers the opportunity to watch
                  a movie in the hall with luxurious leather Italian comfort
                  seats
                </p>
              </section>

              <section class="desc-box">
                <img src="~/assets/images/sicon4.png" />
                <h3 class="desc-title">Invitation</h3>
                <p class="desc-text">
                  "The system of invitations sales", used in the network of
                  cinemas "CinemaPlus"means a free entry to the cinema within a
                  month. The spectator exchanging an invitation for a ticket,
                  can go for free to any session.
                </p>
              </section>
            </section>

            <section class="inner-container-sec">
              <section class="desc-box">
                <img src="~/assets/images/sicon5.png"  style="width: 140px !important;"/>
                <h3 class="desc-title">Bonus Program</h3>
                <p class="desc-text">
                  The CineClub Bonus Accumulation Programme is a loyalty
                  programme that is conducted by the CinemaPlus movie theatre.
                </p>
              </section>

              <section class="desc-box">
                <img src="~/assets/images/sicon6.png" />
                <h3 class="desc-title">Gift Cards</h3>
                <p class="desc-text">
                  "Gift Card" is an opportunity to exchange the amount available
                  on the card for free at cinema tickets. The owner of "Gift
                  Card" has the full right to purchase tickets at the ticket
                  offices of the cinema by paying in amounts on the card.
                </p>
              </section>
            </section>
          </section>
        </section>

  </body>
</html>

