.dolby-container {
    background-color: #5b3fb8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.title-image {
    padding: 20px;
}

.dolby-text {
    width: 85%;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 15px;
}

.video-container {
    width: 85%;
    padding: 15px;
    display: flex;
    justify-content: center;
}


@media(max-width:768px) {

    body {
        padding-top: 275px;
    }

    .video-container {
        width: 100%;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .dolby-text {
        width: 100%;
        padding: 0;
    }
}
