@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham Medium.ttf') format("truetype");
}


:root {
    --main-color: #334e9e;
    --main-text-color: #000000;
    --second-color: #fff;
    --third-color: #00acec;
    --fourth-color: #f3f3f3;
    --fifth-color: #62caeb;
    --sixth-color: #d0021b;
    --main-font-family: 'Gotham';
}


* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

#repertuar {
    width: 1600px;
    margin: auto;
    margin-top: 50px;
}

/*Place Container Start*/
.place-container {
    width: 100%;
    height: 85vh;
    border: 1px solid red;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.607);
    z-index: 1000;
    justify-content: center;
    padding: 20px;
    overflow: auto;
    display: flex;
}

.place-inner-container {
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.place-inner-up {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    justify-content: center;
    background-color: #334e9e;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    align-items: center;
}


.place-inner-middle {
    flex-basis: 70%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
}

.place-inner-down {
    flex-basis: 15%;
    background-color: #0075bc;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-inner-down-sec {
    display: flex;
    padding: 15px;
    width: 90%;
}

.place-inner-down-bottom {
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
}


.seat-info-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
}

.seat-info-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-basis: 33%;
    color: white;
}

.seats-cont {
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-basis: 90%;
}

.seat-row {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-row-number {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
}

.seat-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

    .seat-list > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        color: gray;
        margin: 3px;
        border: 1px solid black;
    }


.places-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    color: white;
    font-size: 45px;
}

    .places-close-btn:hover {
        cursor: pointer;
    }

.screen-label {
    flex-basis: 10%;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.confirm-btn {
    background-color: #696969;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

    .confirm-btn:hover {
        background-color: #00aff0;
        transition: 0.7s;
    }

.middle-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction:column;
}

/*Place Container End*/

/* Tab Start */
.tab_header {
    text-align: center;
    height: 46px;
}

    .tab_header a.active {
        background: var(--main-color);
        color: var(--second-color);
    }

    .tab_header a {
        font-family: var(--main-font-family);
        color: var(--main-text-color);
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        text-decoration: none;
    }




@media only screen and (max-width: 1600px) {
    #repertuar {
        width: auto;
    }
}
/* Tab End */

