@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham Medium.ttf') format("truetype");
}


:root {
    --main-color: #334e9e;
    --main-text-color: #000000;
    --second-color: #fff;
    --third-color: #00acec;
    --fourth-color: #f3f3f3;
    --fifth-color: #62caeb;
    --sixth-color: #d0021b;
    --main-font-family: 'Gotham';
}


* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

#repertuar {
    width: 1600px;
    margin: auto;
    margin-top: 50px;
}

/* Tab Start */
.tab_header {
    text-align: center;
    height: 46px;
}

    .tab_header a.active {
        background: var(--main-color);
        color: var(--second-color);
    }

    .tab_header a {
        font-family: var(--main-font-family);
        color: var(--main-text-color);
        border-radius: 5px 5px 0 0;
        padding: 15px 20px 12px 20px;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        text-decoration: none;
    }


@media only screen and (max-width: 1600px) {
    #repertuar {
        width: auto;
    }
}
/* Tab End */

