body {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--second-color);
    font-family: var(--main-font-family);
    z-index: 9999;
}

.myNav {
    display: flex;
}

a {
    text-decoration: none !important;
    color: inherit;
}

    a:hover {
        cursor: pointer;
    }

    a:visited {
        color: inherit; /* Same color as unvisited links */
    }


.myNav-left {
    background-color: var(--main-color);
    padding: 20px 100px 20px 30px;
    flex-basis: 40%;
    text-align: right;
}

.myNav-right {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.myNav-right-up {
    display: flex;
    text-align: center;
    flex-basis: 50%;
    margin-left: 5px;
    font-weight: 500;
}

.link-container {
    color: gray;
    font-family: var(--main-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0px 15px;
}

    .link-container:hover {
        color: black;
        transition: 0.5s;
    }

.myNav-right-down {
    display: flex;
    background-color: var(--third-color);
    font-family: var(--main-font-family);
    text-align: center;
    color: white;
    flex-basis: 50%;
}


.menu-con {
    padding: 10px 20px;
    display: flex;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
    align-items: center;
    flex-basis: 10%;
    text-align: center;
}

    .menu-con a {
        margin: auto;
    }

.ml-3 {
    margin-left: 30px;
}

.ml-3-1{
    margin-left: 42px;
}

.menu-con:hover {
    background-color: var(--main-color);
    transition: 0.5s;
    cursor: pointer;
}

.my-contact {
    display: flex;
    margin-left: 30px;
    align-items: center;
    font-size: 14px;
    flex-basis: 60%;
}

.menu-con a {
    color: var(--second-color) !important;
}

.hamDiv a{
    color: var(--second-color) !important;
}

.logoImg {
    width: 200px;
}

.hamburger-menu {
    display: none;
    background-color: var(--main-color);
}

    .hamburger-menu * {
        display: none;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }

.hamDiv {
    padding: 10px;
    border-bottom: 3px solid #4193d2;
    font-weight: bold;
    color: #4193d2;
    font-size: 20px;
}

    .hamDiv:hover {
        color: white;
        border-bottom: 3px solid white;
        transition: 0.5s;
    }

.hamburger-dropdown {
    display: none;
    height: 0;
}

.hamDiv {
    visibility: hidden;
}

.display {
    opacity: 1;
    height: 300px;
    transition: 0.5s ease;
}

.unDisplay {
    opacity: 0;
    height: 0px;
    transition: 0.5s ease;
}


.main-body {
    display: flex;
}


.footer {
    display: flex;
    background-color: #0696D5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.footer-up {
    display: flex;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
}

.footer-sec {
    flex-basis: 33%;
    padding: 10px;
}


.footer-left {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid white;
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.footer-link-container {
    font-weight: bold;
    color: white;
}

.footer-icon-rectangle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: 5px;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}



.google {
    width: 125px
}

.apple {
    width: 110px;
}

    .google, .apple:hover {
        cursor: pointer;
    }

.footer-down {
    margin-top: 20px;
    padding: 5px;
    width: 80%;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:1200px) {

    body {
        padding-top: 155px;
    }

    .logoImg {
        width: 150px;
    }

    .menu-con {
        font-size: 1em;
    }

    .footer-up {
        flex-direction: column;
    }

    .footer-left {
        border-right: 0px;
        border-bottom: 1px dashed white;
    }

    .footer-middle {
        border-right: 0px;
        border-bottom: 1px dashed white;
        padding: 20px;
    }

    .footer-down {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-up {
        border: 0px;
    }

    .footer-right {
        padding: 20px;
    }
}

@media (max-width:768px) {

    .myNav-right-up {
        display: none;
    }

    .myNav {
        flex-direction: column;
    }

    .myNav-left {
        text-align: center;
    }

    .logoImg {
        width: 250px;
    }

    .myNav-right-down {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        color: white;
        padding: 20px;
    }

        .hamburger-menu * {
            display: block;
        }

    .hamburger-dropdown {
        display: block;
    }

    #main-body {
        margin-top: 100px;
    }
}


@media (max-width:500px) {
    .footer-left {
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
}
